.blog_heading{  
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    
    color: #3E435D;
}

.blog_container{
background: #FFFFFF;
box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.04);
width: 99%;

}

.blog_img1{
    width: 380px;
height: 310px;

}

.blog_img2{
    width: 380px;
height: 156px;
align-self: start;
}
.sub_blog_heading{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;

color: #000000;
}


.blog_contant{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    
    color: #000000;
    
    opacity: 0.6;
}


.blog_month{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 129.52%;
letter-spacing: 0.05em;

color: #000000;
}




#blog_book_demo_box{
background: linear-gradient(90.17deg, #5D80E2 0.17%, #73B6E5 99.89%);
box-shadow: 0px 20px 40px rgba(130, 100, 198, 0.2);
border-radius: 5px;
font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #F2F2F2;
}


#blog_learn_more_box{
border-color:#8264C6;
opacity: 0.7;
border-radius: 5px;
font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color:  #8264C6 ;
    opacity: 0.7;
}
